<div style="text-align:center; padding: 2rem;">
  <h1>{{ title }}</h1>

  <input [(ngModel)]="name" placeholder="Enter your name" />
  <button (click)="submit()">Save Name</button>

  @if (loading()) {
    <div>Loading...</div>
  }

  @if (message()) {
    <div>
      <h2>Message from Backend:</h2>
      <p>{{ message() }}</p>
    </div>
  }

  @if (users().length > 0) {
    <h2>Users:</h2>
    <ul>
      @for (user of users(); track $index) {
        <li>{{ user.name }}</li> <button (click)="deleteUser(user._id)">eliminate</button>
      }
    </ul>
  }
</div>
